---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

const images = import.meta.glob<{ default: ImageMetadata }>('../assets/*.{jpeg,jpg,png,gif,webp}');
const image = Object.values(images)[0];
---
<div hidden>
	<Image
		id="inserted-hero-image"
		src={image()}
		loading="eager"
		decoding="async"
		alt="image not loaded"
		width="400"
		height="400"
	/>
</div>
<script>
	const socket = document.getElementById('hero-image')!.parentElement!;
	const inserted = document.getElementById('inserted-hero-image')!;
	socket.classList.forEach(c => c.startsWith('astro-') && inserted.classList.add(c));
	socket.replaceWith(inserted);
</script>
